@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Stalinist+One&display=swap&subset=cyrillic');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #484848;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background: top / contain no-repeat url('./images/pille-riin.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

h2 {
  font-family: 'Stalinist One', cursive;
  font-size: 16px;
  color: #fd1c44;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
}

ul.ProductsByCategories {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

ul.ProductsByCategories > li {
  margin-top: 110px;
  margin-bottom: 45px;
}

/* ul.ProductsByCategories::before,
ul.ProductsByCategories::after {
  content: '';
  box-shadow: 0 0 16px rgba(0, 0, 0, .2);
} */

ul.ListOfProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.ListOfProducts div.ProductCard {
  width: 160px;
  background: top no-repeat;
}

ul.ListOfCategories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 120px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .1);
}

ul.ListOfCategories li {
  background: center / 40% no-repeat ;
  text-align: center;
  height: 120px;
  width: 180px
}

ul.ListOfCategories li:hover {
  height: 130px;
  background-color: red;
}

ul.ListOfCategories a {
  color: white;
  text-decoration: none;
}

div.Header {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  height: 40px;
  width: 1012px;
  background: white;
}

div.Header > form.region {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

div.Header input[type="radio"] {
  display: none;
}

div.Header input[checked] + label {
  color: red
}

div.Header button,
div.Header select[name="citySelector"] {
  border: none;
  background: white;
}

div.Header button {
  width: 160px;
}

div.Header button[name="openOrder"] {
  color: white;
  background: red;
}

/* ProductCard.js */

.ProductCard {
  display: grid;
  grid-template-areas: "weight mark"
                       "name name"
                       "description description"
                       "prise counter";
  grid-template-columns: 50% 50%;
  grid-template-rows: 30px 140px 50px 30px;
}

#ProductWeight {
  grid-area: weight;
}

#ProductMark {
  grid-area: mark;
}

#ProductName {
  grid-area: name;
}

#ProductDescription {
  grid-area: description;
}


#ProductPrise {
  grid-area: prise;
}


#ProductValue {
  grid-area: counter;
}

.counter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.counter > input{
  width: 33%;
  border: none;
  background: white;
  text-align: center;
}
