@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Stalinist+One&display=swap&subset=cyrillic');

/* QUESTION: How I can change color for backgroundImage when I used SVG?
             It's Needed for arrow in citySelector and ListOfCategories */

:root {
  --padding: 0px;
  --gray: #484848;
  --gray-focus: #7f7f7f;
  --gray-unfocus: #c8c8c8;
  --red: #fd1c44;
  --red-hover: #ff3f5f;
  --red-active: #ed143a;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background: top / 100% auto no-repeat fixed url('./images/pille-riin.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Stalinist One', cursive;
  font-size: 16px;
  color: var(--red);
  margin: 0px 0px 45px;
}

button,
input[type="button"] {
  background: white;
}

button.red,
input[type="button"].red {
  color:white;
  background: var(--red);
}

button.red:hover,
input[type="button"].red:hover {
  background: var(--red-hover);
}

button.red:active,
input[type="button"].red:active {
  background: var(--red-active);
}

h1 button { /* for close / filter */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: inherit;
  border: none;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  padding: 0px;
}

h1 button * {
  margin-right: .65rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.App > * {
  padding-left: var(--padding);
  padding-right: var(--padding);
  background-color: white;
}

ul.ProductsByCategories {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

ul.ProductsByCategories > li {
  margin-top: 110px;
}

ul.ProductsByCategories > li:last-child {
  margin-bottom: 110px;
}

ul.ListOfProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.ListOfCategories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 120px;
}

ul.ListOfCategories li {
  background: center / 40% no-repeat ;
  height: 120px;
  width: 180px;
  transition: all .2s ease-in;
}

ul.ListOfCategories li:hover {
  height: 130px;
  background-color: var(--red);
  background-position-y: 30%;
  transition: background-color 0s;
}

ul.ListOfCategories li:active {
  background-color: var(--red-active);
}

ul.ListOfCategories a {
  text-decoration: none;
}

ul.ListOfCategories li h1 {
  color: transparent;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all .2s ease-in;
}

ul.ListOfCategories li:hover h1{
  color: white;
}

div.Header {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  height: 40px;
  line-height: 40px;
  width: 1012px;
  background: white;
}

div.Header > form.region {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.PhoneNumber,
div.Header button,
div.Header select[name="citySelector"],
form.region .wrapper {
  border: none;
  width: 160px;
  overflow: hidden;
}

form.region button {
  width: 30px;
  padding: 0px;
  display: inline-flex;
  align-items: center;
}

form.region button[disabled] {
  color: var(--red);
  cursor: auto;
}

form.region .wrapper {
  margin-left: 20px;
}

/* ProductCard.js */

.ProductCard {
  display: grid;
  grid-template-areas: "weight mark"
                       "name name"
                       "description description"
                       "prise counter";
  grid-template-columns: 50% 50%;
  grid-template-rows: 30px 160px 40px 30px;
  grid-gap: 5px;
  width: 160px;
}

.OrderList {
  padding: 29px 0px 40px;
}

.OrderList .ProductCard {
  grid-template-areas: "clearButton name description counter prise";
  grid-template-columns: 0px auto auto 80px 60px;
  grid-template-rows: 60px;
  width: 100%;
}

.ProductCard > * {
  display: flex;
  align-items: center;
}

div.weight {
  grid-area: weight;
}

.OrderList div.weight {
  display: none;
}

div.mark {
  grid-area: mark;
  justify-content: center;
}

.OrderList div.mark {
  display: none;
}

div.name {
  grid-area: name;
  align-items: flex-end;
  background: 50% 30% / contain no-repeat;
  font-weight: 700;
}

.OrderList div.name {
  align-items: center;
  /* justify-content: flex-end; */
  background: 0% 50% / contain no-repeat;
  padding-left: 80px;
  font-weight: normal;
}

div.description {
  grid-area: description;
  align-items: flex-start;
}

.OrderList div.description {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}

div.prise {
  grid-area: prise;
}

.OrderList div.prise {
  justify-content: flex-end;
}

div.value {
  grid-area: counter;
}

form.counter {
  align-items: stretch;
}

.counter > input,
.counter > button {
  width: 33%;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

button.clearButton {
  grid-area: clearButton;
  display: none;
  visibility: hidden;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 700;
  height: 16px;
  width: 16px;
  padding: 0px;
  text-align: center;
  justify-content: center;
}

.OrderList button.clearButton {
  display: flex;
}

.OrderList .ProductCard:hover button.clearButton {
  visibility: visible;
}

.red {
  color: var(--red);
  font-size: 16px;
  font-weight: 700;
}

.white {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

div.Order {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 47px 30px 57px;
}

div.Order h2 {
  padding: 47px 0px 45px;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, .2);
  outline: white solid 2px; /* hides shadow a sides and bottom */
}

div.Order .checkoutButton {
  align-self: center;
}

div.Banner {
  padding-top: 40px;
  background: content-box no-repeat;
  background-size: auto 420px;
  background-position: right bottom -40px;
  /* background-image sets in App: styles.bannerImage */
}

div.Banner p {
  color: white;
  font-size: 36px;
  font-weight: 700;
  margin: 35px 0px;
  width: 55%;
}

div.Banner span {
  font-family: 'Stalinist One', cursive;
  font-size: 28px;
  color: var(--red);
}

div.Banner button {
  margin-bottom: 120px;
}

div.Banner button,
div.Footer input[type="button"],
.checkoutButton {
  font-weight: 700;
  border: none;
  height: 40px;
  width: 260px;
}

button:hover,
input[type="button"]:hover,
label:hover,
select:hover {
  cursor: pointer;
}

nav.Navigation,
nav.Navigation > ul  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.Navigation > ul li {
  margin: 35px 0px 35px 30px;
}

nav.Navigation > ul a {
  color: var(--gray);
  text-decoration: none;
}

nav.Navigation > ul a:hover {
  color: var(--red-hover);
  text-decoration: none;
}

nav.Navigation > ul a:active {
  color: var(--red-active);
  text-decoration: none;
}

div.Footer {
  display: flex;
  flex-flow: column wrap;
  height: 200px;
  padding-top: 50px;
  padding-bottom: 40px;
  justify-content: space-between;
  align-content: space-between;
}

div.Footer > * {
  width: 260px;
}

ul.FollowUs {
  display: flex;
  flex-wrap: nowrap;
}

ul.FollowUs li {
  padding-right: 15px;
}

ul.FollowUs a,
ul.FollowUs a:active {
  color: var(--red);
}

ul.FollowUs a:hover {
  color: var(--red-hover);
}

div.CopyRight {
  height: 40px;
  margin-top: 40px;
}

form.Search {
  height: 40px;
  margin-bottom: 20px;
  position: relative;
}

form.Search > input[type="text"] {
  border: solid 1px var(--gray-unfocus);
  box-sizing: border-box;
  height: inherit;
  width: inherit;
  padding-left: 10px;
}

form.Search > input[type="text"]:focus {
  border-color: var(--gray-focus);
}

form.Search > button {
  position: absolute;
  right: 0px;
  border: none;
  box-sizing: border-box;
  height: inherit;
  width: 40px;
}

ul.AppDownload {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 40px;
}

ul.AppDownload img {
  height: 40px;
}

ul.FooterMenu {
  column-count: 2;
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
  font-weight: 700;
  height: 300px;
  width: 390px;
  align-self: stretch;
}

/* shadows */
div.Order,
div.Header,
div.Footer,
ul.ListOfCategories {
  z-index: 10;
  box-shadow: 0 0 16px rgba(0, 0, 0, .15);
}

div.Header,
div.Footer {
  z-index: 20;
}

div.Order {
  z-index: 30;
}
